{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 80,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "cssSortOrder": "alphabetical",
  "vueIndentScriptAndStyle": true,
  "quoteProps": "as-needed"
}
