*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  gap: 30px;
  padding-top: 64px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 18px;
  width: 399px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
  display: flex;
    gap: 36px;
    flex-direction: column;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  width: 710px;
  height: 383px;
  display: flex;
  position: relative;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 94%;
  font-weight: 700;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  outline: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
   white-space: nowrap; 
   overflow: hidden;
   width: 196px
  
}

.content__video-card-description {
  font-size: inherit;
  line-height: 16.2px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden; 
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 6px;
}

.search-form__textfield {
  color:#fff;
  background-color: inherit;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  appearance: none;
  outline: 0;
  width: 225px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield:active {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0;
}

.search-form__textfield:hover {
  outline: 0;
}

.search-form__textfield:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 19px;
  height: 19px;
  position: relative;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.button {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 6px 73.5px;
  cursor: pointer;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.button:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}


.content__card-link_current {
  display: block;
  background-color: #545050;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:has(:focus-visible) {
  border: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}
